/* Payment.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rethink+Sans:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}
.custom-font-weight {
    font-weight: 700 !important; /* Menambahkan ketebalan font */
}


/* Remove borders from the table */
.table-bordered, .table-bordered th, .table-bordered td {
    border: none;
}

/* Optional: Add spacing to the table cells to make it more readable without borders */
.table th, .table td {
    padding: 12px;
}

/* Optional: You can still highlight the rows on hover */
.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

/* Loading Placeholder Styling */
.table td, .table th {
    vertical-align: middle;
}

/* Style untuk tabel agar sesuai dengan placeholder */
.loading-placeholder-table {
    width: 100%;
    margin-top: 20px;
}

.loading-placeholder-item {
    background-color: #e0e0e0;
    height: 40px;
    border-radius: 4px;
    animation: loading-animation 1.5s infinite ease;
}

/* Animasi untuk placeholder */
@keyframes loading-animation {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #d0d0d0;
    }
    100% {
        background-color: #e0e0e0;
    }
}

/* Styling tambahan untuk tabel */
.table-responsive {
    margin-bottom: 20px;
}

/* Placeholder for each row */
.loading-placeholder-item {
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
